<style type="text/css">
	.about-row{
		/*height: auto;*/
		/*width: 75%;*/
		margin: 0px auto;
		border: 2px dashed #333;
	    background: rgba(255,255,255,0.7);
	}
	.headshot-col img{
		width: 100%;
		height: auto;
	}
	.headshot-col{
		padding: 15px;
	}
	.about-col{
		padding: 10% 5%;
		background: white; /* For browsers that do not support gradients */
		min-height: 100vh;
		background-image: url(<%= image_path('splatter-bg.png') %>);
	}
	.tech-header{
		text-align: center;
	}
	.lower-about-row{
		margin-top: 30px;
	}
	.copy-col{
		padding: 5px 30px;
	}
	.copy-col h4{
		text-align: justify;
	}
	.tech-div h5{
		font-size: 24px;
	}
	.lower-about-row{
		/*min-height: 200px;*/
	}
	.tech-div .col-sm-6{
		padding: 30px;
	}
	.invis{
		color: white;
	}
	.skills{
		/*margin-left: 15px;*/
		/*font-size: 30px;*/
		text-align: center;
		margin-bottom: 0px;
	}
	.tech-div{
		padding: 0px;
	}
	.bio{
		margin-top: 30px;
	}
    @media(max-width: 765px){
		.tech-div .col-sm-6{
			padding: 0px 15px;
		}
    }
</style>
	<div class="row about-row">
		<div class="col-sm-8 copy-col">
			<!-- <h3 class="tech-header">Hello!</h3> -->
			<h4 class="bio">Hello! My name is Kevin Taylor, and I am a full stack web developer specializing in Ruby on Rails, MEAN, and LAMP. I'm originally from New Jersey, and I have been living in Los Angeles since 2012. I have a passion for creating innovative projects and problem solving, as well as a love for video game design. I also hold an MFA in music performance from California Institute of the Arts.</h4>
		</div>
		<div class="col-sm-4 headshot-col">
			<%= image_tag('headshot.JPG') %>
		</div>
	</div>
	<div class="row about-row lower-about-row">
			<h3 class="skills">TECHNOLOGIES I USE</h3>
		<div class="col-sm-6 tech-div">
				<div class="col-sm-6">
					<h4>HTML 5</h4>
					<h4>CSS</h4>
					<h4>Bootstrap</h4>
				</div>
				<div class="col-sm-6">
					<h4>Javascript</h4>
					<h4>JQuery</h4>
					<h4>Angular</h4>
				</div>
		</div>
		<div class="col-sm-6 tech-div">
				<div class="col-sm-6">
					<h4>Ruby on Rails</h4>
					<h4>PHP</h4>
					<h4>Node</h4>
				</div>
				<div class="col-sm-6">
					<h4>Express</h4>
					<h4>Nginx</h4>
					<h4>AWS</h4>
				</div>
		</div>
	</div>