<style type="text/css">
	.contact-row{
		/*height: auto;*/
		/*width: 75%;*/
		margin: 0px auto;
		border: 2px dashed #333;
	    background: rgba(255,255,255,0.7);
	}
	.contact-content{
		text-align: center;
	}
</style>
<div class="row contact-row">
	<div class="col-sm-12 contact-content">
		<h3>Need a website?  Want to collaborate?</h3>
		<h3>EMAIL: <a href="mailto:ktp925@gmail.com">ktp925@gmail.com</a></h3>
		<h3>PHONE: 973 919 2402</h3>
	</div>
</div>